body {
  background-color: #F9FFF6;
  font-family: "Poppins", sans-serif; }

/* * * * * * * * * * * * * * * * * * *
Row
* * * * * * * * * * * * * * * * * * */
.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px; }

.row {
  width: 100%; }
  .row .column {
    float: left;
    margin: 5px 1%; }
    .row .column .row::after {
      content: "";
      display: table;
      clear: both; }

/* * * * * * * * * * * * * * * * * * *
  Columns
  * * * * * * * * * * * * * * * * * * */
.small-1 {
  width: 6.333333333333334%; }

.small-2 {
  width: 14.666666666666668%; }

.small-3 {
  width: 23%; }

.small-4 {
  width: 31.333333333333336%; }

.small-5 {
  width: 39.66666666666667%; }

.small-6 {
  width: 48.00000000000001%; }

.small-7 {
  width: 56.333333333333336%; }

.small-8 {
  width: 64.66666666666667%; }

.small-9 {
  width: 73%; }

.small-10 {
  width: 81.33333333333333%; }

.small-11 {
  width: 89.66666666666667%; }

.small-12 {
  width: 98%; }

@media only screen and (min-width: 720px) {
  /* 720px */
  .medium-1 {
    width: 6.333333333333334%; }
  .medium-2 {
    width: 14.666666666666668%; }
  .medium-3 {
    width: 23%; }
  .medium-4 {
    width: 31.333333333333336%; }
  .medium-5 {
    width: 39.66666666666667%; }
  .medium-6 {
    width: 48.00000000000001%; }
  .medium-7 {
    width: 56.333333333333336%; }
  .medium-8 {
    width: 64.66666666666667%; }
  .medium-9 {
    width: 73%; }
  .medium-10 {
    width: 81.33333333333333%; }
  .medium-11 {
    width: 89.66666666666667%; }
  .medium-12 {
    width: 98%; } }

@media only screen and (min-width: 1040px) {
  /* 720px */
  .large-1 {
    width: 6.333333333333334%; }
  .large-2 {
    width: 14.666666666666668%; }
  .large-3 {
    width: 23%; }
  .large-4 {
    width: 31.333333333333336%; }
  .large-5 {
    width: 39.66666666666667%; }
  .large-6 {
    width: 48.00000000000001%; }
  .large-7 {
    width: 56.333333333333336%; }
  .large-8 {
    width: 64.66666666666667%; }
  .large-9 {
    width: 73%; }
  .large-10 {
    width: 81.33333333333333%; }
  .large-11 {
    width: 89.66666666666667%; }
  .large-12 {
    width: 98%; } }

/* * * * * * * * * * * * * * * * * * *
  Visibility Classes
  * * * * * * * * * * * * * * * * * * */
.visible-for-small-only {
  display: block; }

.visible-for-medium-up {
  display: none; }

.visible-for-large-up {
  display: none; }

@media only screen and (min-width: 720px) {
  /* 720px */
  .visible-for-small-only {
    display: none; }
  .visible-for-medium-up {
    display: block; } }

@media only screen and (min-width: 1040px) {
  /* 720px */
  .visible-for-large-up {
    display: block; } }

header {
  height: 80px;
  background: #FE5F55;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .header-container {
    display: flex;
    align-items: stretch;
    width: 100%; }
  header .logo-container {
    margin-right: auto;
    margin-left: 0; }
  header span {
    color: #fff; }
  header i {
    color: #fff;
    margin-right: 5px; }
  header a {
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 20px; }
  header ul {
    display: flex;
    margin: 0 auto;
    list-style: none;
    font-size: 15px; }
  header li {
    align-items: center;
    margin-right: 50px; }

.hero {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.9)), url("../img/hero-img.jpg");
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  margin-bottom: 40px; }
  .hero .hero-content {
    font-size: 20px;
    width: 80%;
    color: #FE5F55;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .hero .blog-1-img {
    background: url("../img/img-1.jpg");
    width: 100%;
    background-size: cover;
    background-position: center; }
  .hero .blog-2-img {
    background: url("../img/img-2.jpg");
    width: 100%;
    background-position: center;
    background-size: cover; }
  .hero .blog-3-img {
    background: url("../img/img-3.jpg");
    width: 100%;
    background-position: center;
    background-size: cover; }

footer {
  background: #FE5F55;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px; }
  footer .footer-container {
    padding: 30px 90px; }

.social-icons {
  width: 100px;
  display: flex;
  justify-content: space-between; }
  .social-icons i {
    color: #fff;
    margin-left: 20px; }

.banner {
  width: 100%;
  margin-bottom: 40px; }
  .banner h1 {
    color: #FE5F55;
    margin: 0 auto;
    padding: 0px; }
  .banner a, .banner p {
    color: #FE5F55;
    text-decoration: none; }

.banner-content {
  padding: 80px; }

.about-card {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  align-items: center; }
  .about-card .about-info {
    padding: 20px;
    display: block;
    width: 75%; }
    .about-card .about-info a {
      text-decoration: none; }
  .about-card h2 {
    margin: 0 auto;
    color: #FE5F55; }
  .about-card p {
    margin: 10px auto;
    color: #222; }
  @media (max-width: 600px) {
    .about-card {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch; }
      .about-card .about-info {
        padding: 20px 0px; } }

.about-img-container {
  width: 180px;
  height: 180px; }
  @media (max-width: 600px) {
    .about-img-container {
      min-width: 300px;
      min-height: 200px; } }
  @media (max-width: 400px) {
    .about-img-container {
      min-width: 300px;
      min-height: 200px; } }
  .about-img-container img {
    width: 100%;
    height: 100%; }

.andy-about-img {
  width: 100%;
  height: 100%;
  background: url("../img/andy.jpg");
  background-size: cover;
  background-position: center; }

.joanna-about-img {
  width: 100%;
  height: 100%;
  background: url("../img/joanna.jpg");
  background-size: cover;
  background-position: center; }

.david-about-img {
  width: 100%;
  height: 100%;
  background: url("../img/david.jpg");
  background-size: cover;
  background-position: center; }

.gill-about-img {
  width: 100%;
  height: 100%;
  background: url("../img/gill.jpg");
  background-size: cover;
  background-position: center; }

.about-info {
  padding: 20px;
  display: block;
  width: 75%; }

.blog-para {
  line-height: 1.5em; }
  .blog-para h1 {
    color: #FE5F55; }
  .blog-para p {
    color: #000000; }
  .blog-para a, .blog-para i {
    color: #FE5F55;
    text-decoration: none; }
