body {
  background-color: #F9FFF6;
  font-family: "Poppins", sans-serif; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px; }

header {
  height: 80px;
  background: #FE5F55;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .header-container {
    display: flex;
    align-items: stretch;
    width: 100%; }
  header .logo-container {
    margin-right: auto;
    margin-left: 0; }
  header span {
    color: #fff; }
  header i {
    color: #fff;
    margin-right: 5px; }
  header a {
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 20px; }
  header ul {
    display: flex;
    margin: 0 auto;
    list-style: none;
    font-size: 15px; }
  header li {
    align-items: center;
    margin-right: 50px; }

.hero {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.9)), url("../img/hero-img.jpg");
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  margin-bottom: 40px; }
  .hero .hero-content {
    font-size: 20px;
    width: 80%;
    color: #FE5F55;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .hero .blog-1-img {
    background: url("../img/img-1.jpg");
    width: 100%;
    background-size: cover;
    background-position: center; }
  .hero .blog-2-img {
    background: url("../img/img-2.jpg");
    width: 100%;
    background-position: center;
    background-size: cover; }
  .hero .blog-3-img {
    background: url("../img/img-3.jpg");
    width: 100%;
    background-position: center;
    background-size: cover; }

footer {
  background: #FE5F55;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px; }
  footer .footer-container {
    padding: 30px 90px; }
  footer .social-icons {
    width: 100px;
    display: flex;
    justify-content: space-between; }
  footer a {
    color: #fff;
    margin-left: 20px; }

.about-card {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  align-items: center; }
  .about-card .about-info {
    padding: 20px;
    display: block;
    width: 75%; }
    .about-card .about-info a {
      text-decoration: none; }
  .about-card h2 {
    margin: 0 auto;
    color: #FE5F55; }
  .about-card p {
    margin: 10px auto;
    color: #222; }
  @media (max-width: 600px) {
    .about-card {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch; }
      .about-card .about-info {
        padding: 20px 0px; } }

.about-img-container {
  width: 180px;
  height: 180px; }
  @media (max-width: 600px) {
    .about-img-container {
      min-width: 300px;
      min-height: 200px; } }
  @media (max-width: 400px) {
    .about-img-container {
      min-width: 300px;
      min-height: 200px; } }
  .about-img-container img {
    width: 100%;
    height: 100%; }
  .about-img-container .andy-about-img {
    width: 100%;
    height: 100%;
    background: url("../img/andy.jpg");
    background-size: cover;
    background-position: center; }
  .about-img-container .joanna-about-img {
    width: 100%;
    height: 100%;
    background: url("../img/joanna.jpg");
    background-size: cover;
    background-position: center; }
  .about-img-container .david-about-img {
    width: 100%;
    height: 100%;
    background: url("../img/david.jpg");
    background-size: cover;
    background-position: center; }
  .about-img-container .gill-about-img {
    width: 100%;
    height: 100%;
    background: url("../img/gill.jpg");
    background-size: cover;
    background-position: center; }

.blog-para {
  line-height: 1.5em; }
  .blog-para h1 {
    color: #FE5F55; }
  .blog-para a, .blog-para i {
    color: #FE5F55;
    text-decoration: none; }
