footer {
  background: #7e7d7d;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  footer .footer-container {
    padding: 30px 50px; }

.social-icons {
  width: 100px;
  display: flex;
  justify-content: space-between; }
  .social-icons i {
    color: #fff;
    margin-left: 10px; }
