footer {
    background: rgb(126, 125, 125);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .footer-container {
        padding: 30px 80px;
    }
}




.social-icons {
    width: 100px;
    display: flex;
    justify-content: space-between;

    i {
        color: #fff;
        margin-left: 20px;
    }
}
