header {
    height: 60px;
    background: #222;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    
        .header-container {
            display: flex;
            align-items: stretch;
            width: 100%;
        }
   
        .logo-container {  
        margin-right: auto;
        
        }

        span {
            color: #fff;
            margin-left: 5px;
        }
        
        i {
            color: #fff;
            margin-right: 5px;
        }

        a {
            color: #fff;
            text-decoration: none;
            margin: 0 0 0 20px;
        }


        ul {
            display: flex;
            margin: 0 auto;
            list-style: none;
            font-size: 15px;
        }

        li {
            align-items: center;
            margin-right: 30px;
        }
}






