.hero {
    background: url('../img/hero-img.jpg');
    width: 1005;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 100px;

    h1 {
        
    }
}