.hero {
    @include something ('../img/hero-img.jpg');
    
    .hero-content {  
        font-size: 20px;       
        width: 80%;
        color: $head-foot-bg;
        padding: 25px;      
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}