.hero {

    @include hero ('../img/hero-img.jpg');

    
    .hero-content {  
        font-size: 20px;       
        width: 80%;
        color: $head-foot-bg;
        padding: 25px;      
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .blog-1-img {       
        background: url('../img/img-1.jpg');
        width: 100%;        
        background-position: center;
    
    }
    .blog-2-img {               
        background: url('../img/img-2.jpg');
        width: 100%;        
        background-position: center;
        background-size: cover;
       


    }
    .blog-3-img {              
        background: url('../img/img-3.jpg');
        width: 100%;
        background-position: center;
        background-size: cover;
    }
}


