@mixin something ($url) {
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255, 0.9) ),
        url($url);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50% 70%;
    display: flex;
}
