// Font
$font-family: 'Poppins', sans-serif;
$line-height: 1.5em;
// All fonts will be black except for the main h1's i guesss?

// Background Colors
// ***************************************
// Color for header and footer background
$head-foot-bg: #FE5F55; 

// Color for main content background, it's an off-white
$content-bg: #F9FFF6;

// Color for background of banners on the About and Blog pages.
// ( behind the headings 'ABOUT' and 'BlOg-NAME' )
$banner-bg: #65c3cd;

