.banner {
    width: 100%;
    height: 200px;
    background-color: $banner-bg;
    margin-bottom: 40px;

    h1 {
    color: white;
    margin: 0 auto;
    padding: 100px;
    }
}

.about-card {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.about-img-container {
    width: 180px;
    height: 180px;
    
}

.about-img {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.about-img-david {
    width: 100%;
    height: 100%;
    background: url('https://scontent-yyz1-1.cdninstagram.com/vp/ed3cc99b0f494e278ad114f9830d1508/5C62EF8B/t51.2885-15/e35/c0.135.1080.1080/s320x320/40756309_440279123165043_6519942459957668234_n.jpg');
    background-size: cover;
    background-position: center;
}

.about-info {
    padding: 20px;
    display: block;
    width: 75%
}