.banner {
    width: 100%;
    height: 200px;
    background-color: $banner-bg;
    margin-bottom: 40px;

    h1 {
    color: white;
    margin: 0 auto;
    padding: 0px;
    }

    a, p {
    color: white;
    text-decoration: none;
    }
}

.banner-content {
    padding: 80px;
}

.about-card {
    width: 100%;
    // height: 200px;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;

    .about-info {
        padding: 20px;
        display: block;
        width: 75%;
    
        a {
            text-decoration: none;
        }
       
    }

    h2 {
        margin: 0 auto;
    }
    p {
        margin: 10px auto;
    }

    @media (max-width:600px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        
        .about-info {
            padding: 20px 0px;
        }
    }

}

.about-img-container {
    width: 180px;
    height: 180px;

    img {
        width: 100%;
        height: 100%;
    }
    
}




.about-img-david {
    width: 100%;
    height: 100%;
    background: url('https://scontent-yyz1-1.cdninstagram.com/vp/ed3cc99b0f494e278ad114f9830d1508/5C62EF8B/t51.2885-15/e35/c0.135.1080.1080/s320x320/40756309_440279123165043_6519942459957668234_n.jpg');
    background-size: cover;
    background-position: center;
}

.about-info {
    padding: 20px;
    display: block;
    width: 75%
}

