.blog-para {
    line-height: $line-height;

    h1 {
        color: $head-foot-bg;
    }
    p {
        color: $para-color;
    }
    a, i{
        color: $head-foot-bg;
        text-decoration: none;
    }
}